h1 {
  color: blue;
  font-size: 24px;
  font-style: oblique;
  font-family: sans-serif;
}

.special {
  color: red;
}

.clase2 {
  font-style: italic;
}

#id-prueba {
  color: green;
}

.fon-01 {
  background-color: yellow;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
